<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/lib/datatables.css') }}"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/lib/datatables.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/demo.js') }}"></script>
    </head>
    <body>

        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>id</th>
                <th>Date</th>
                <th>testfieldone</th>
                <th>testfieldtwo.</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>id</th>
                <th>Date</th>
                <th>testfieldone</th>
                <th>testfieldtwo.</th>
            </tr>
            </tfoot>
        </table>

    </body>
</html>

